<div class="widget super-fast animated zoomIn">
<div class="geo-grouping-container">

	<h2 class="widget-title">
		<span>Grouping</span>
		<div class="widget-title-control">
			<input type="checkbox" id="geo-grouping-group-enabler" >
		</div>
	</h2>

	<hr/>

	<% groups.each(function(group) { %> 
	
		<p class="geo-grouping-group-entry" data-group-id="<% print(group.get('id')); %>">
			<label class="geo-grouping-group-label">
				<input type="checkbox" class="geo-grouping-group-checkbox" data-group-id="<% print(group.get('id')); %>">
				<% print(group.get('name')); %>
			</label>
			<label class="geo-grouping-group-warning" data-toggle="tooltip" data-placement="top" title="
				This group conflicts with: <% 
					var str = _.reduce(group.get('groupConflicts'), function(memo, conflict) {
						return memo + conflict.name + ', ';
					}, '');
					print( str.substring(0, str.length - 2) ); %>
				">
				<i class="fa fa-warning"></i>
			</label>
		</p>

	<% }); %>

</div>
</div>