<div class="widget super-fast animated zoomIn">
<div class="geo-filter-container">

	<h2 class="widget-title">
		<span>Data Filters</span>
	</h2>

	<hr/>

	<div id="geo-filter-chooser-container">
		<input type="checkbox" id="geo-filter-chooser" checked>
	</div>

	<div id="geo-applied-filters">

		<div class="row geo-filter-row">
			<div class="col-md-5"><label>Test:</label></div>
			<div class="col-md-7"><span><%= filters.test %></span></div>
		</div>
		<div class="row geo-filter-row">
			<div class="col-md-5"><label>Gender:</label></div>
			<div class="col-md-7"><span><%= filters.gender %></span></div>
		</div>
		<div class="row geo-filter-row">
			<div class="col-md-5"><label>Age:</label></div>
			<div class="col-md-7"><span><%= filters.age %></span></div>
		</div>
		<div class="row geo-filter-row">
			<div class="col-md-5"><label>Begin date:</label></div>
			<div class="col-md-7"><span><%= filters.beginDate %></span></div>
		</div>
		<div class="row geo-filter-row">
			<div class="col-md-5"><label>End date:</label></div>
			<div class="col-md-7"><span><%= filters.endDate %></span></div>
		</div>

	</div>

</div>
</div>