#geo-grouping-group-enabler {
	float: right;
}

.geo-grouping-group-warning {
	float: right;
	color: #F99;
	display: none;
}

.geo-grouping-group-entry {
	clear: both;
	vertical-align: middle;
}

.geo-grouping-group-label {
	vertical-align: middle;
}