.presentation-card {
}

#home-photo {
	@include border-radius(50%);
	width: 80%;
	margin: 0px 10% 20px 10%;
	border: 1px solid #CCC;
	@include box-shadow(rgba(0,0,0,.24) 0 5px 5px 0);
}

#home-name {
	text-align: center;
	font-weight: bold;
	font-size: x-large;
}

.home-education {
	text-align: center;
	font-style: italic;
}

#home-contacts-container {

}

.home-contact-entry {
	vertical-align: middle;
	margin-bottom: 20px;
}

.home-contact-entry-text {
	margin-left: 20px;
	color: #2C3E50;
}

section {
	margin-bottom: 30px;
	text-align: justify;

	p {
		margin-left: 30px;
		margin-right: 30px;
	}
}
